<%- include('../partials/header') %>

    <main>
        <div style="display: flex; justify-content: center; gap: 15px; margin-bottom: 30px;">
            <button onclick="separarTareasPorPrioridad(this)" class="filter-btn"
                style="background-color: #6c757d; color: white;">
                Bajo
            </button>
            <button onclick="separarTareasPorPrioridad(this)" class="filter-btn"
                style="background-color: #ffc107; color: #212529;">
                Medio
            </button>
            <button onclick="separarTareasPorPrioridad(this)" class="filter-btn"
                style="background-color: #dc3545; color: white;">
                Alto
            </button>
            <button onclick="separarTareasPorPrioridad(this)" class="filter-btn"
                style="background-color: #4C95E1; color: white;">
                Todos
            </button>
        </div>
        <div class="task-list">
            <div prioridad="{Prioridad}" class="task-card">
                <h3 class="task-title">{Titulo}</h3>
                <p class="task-description">{Descripcion}</p>
                <div class="task-dates">
                    <span>{FechaCreacion}</span>
                    <span>{FechaVencimiento}</span>
                </div>
                <button class="btn_eliminar_tarea" onclick="eliminar_tarea('{Titulo}')" type="button">
                    Eliminar
                </button>

                <button class="btn_editar_tarea" type="">
                    Editar
                </button>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>